# Default/Root Level Owner
* @krisrice

# redundant but for clarity owner of this file
CODEOWNERS @krisrice

.git*/ @krisrice @AlaaShaker @gebhardtr
scripts/ @krisrice @AlaaShaker @gebhardtr
src/oci-* @krisrice @AlaaShaker @gebhardtr
tests/ @krisrice @AlaaShaker @gebhardtr
Makefile @krisrice @AlaaShaker @gebhardtr
*.md @krisrice @AlaaShaker @gebhardtr
*.txt @krisrice @AlaaShaker @gebhardtr
*.ini @krisrice @AlaaShaker @gebhardtr
