OGG_BASE_URL=
OGG_USERNAME=
OGG_AUTH_MODE=basic
OGG_MCP_DEBUG=false

# Recommended: Use OCI Secret (OGG_PASSWORD_SECRET_OCID) instead of local password file (OGG_PASSWORD_FILE) or plain text password (OGG_PASSWORD)
# Uncomment your password choice
# OGG_PASSWORD_SECRET_OCID=
# OGG_PASSWORD_FILE=
# OGG_PASSWORD=

# Uncomment and set these if using OGG_PASSWORD_SECRET_OCID
# OCI_REGION=
# OCI_TENANCY_OCID=
# OCI_USER_OCID=
# OCI_KEY_FINGERPRINT=
# OCI_PRIVATE_KEY_FILE=
# OCI_PRIVATE_KEY_PASSPHRASE=